<div class="col col-md-6 col-xl-3 my-3">
    <div class="card m-auto w-max-content">
        <div class="card-body">
            <a href="/meme/{{this.id}}">
                <div class="d-flex justify-content-center position-relative">
                    <img class = "img-fluid" src="{{this.image_url_tiny}}">
                    <p class="{{textPositionClass this.image_position}} position-absolute text-center w-100 text-white fw-bold" id="displayCaption">{{this.image_caption}}</p>
                </div>
            </a>
            <div class="d-flex flex-row justify-content-between my-2">
                <a href="#"><i class="add-like bi bi-hand-thumbs-up" data-post-id="{{this.id}}" style="font-size: 2rem; color: cornflowerblue;"></i></a>
                <a href="#" class="add-comment"><i class="bi bi-chat-text-fill" style="font-size: 2rem; color: cornflowerblue;"></i></a>
            </div>
            <form class="m-auto d-none commentForm my-1 mx-1 p-2" data-post-id="{{this.id}}">
                <div class="mb-3">
                    <textarea class="form-control my-3" id="comment" rows="3"></textarea>
                </div>
                <button type="submit">Add Comment</button>
            </form>
        </div>
    </div>
</div>