<section class="container">

    <div class="card m-auto w-max-content h-max-content ">
        <div id="userheading" class="card-header d-flex justify-content-between h3">Post by {{post.user.userName}}
            {{#if isUser}}
                <a href="#">
                    <i id="check-delete" class="bi bi-x-circle text-danger"></i>
                </a>
                <div id="confirm-delete" class="btn-group d-none" role="group" aria-label="Basic mixed styles example">
                    <button id="no-delete" type="button" class="btn btn-success">Naa</button>
                    <button id="delete-post" type="button" class="btn btn-danger">Yes, get rid of it</button>
                </div>
            {{/if}}
        </div>        
        <div class="d-flex justify-content-center position-relative">
            <img id="memeImage" class="" src="{{post.image_url_medium}}">
            <p class="{{textPositionClass post.image_position}} position-absolute text-center w-100 text-white fs-1 fw-bold" id="displayCaption">{{post.image_caption}}</p>
        </div>     
        <div class="card-footer d-flex justify-content-between">
            <small class="text-muted">{{likeCount}} likes</small>
            <small class="text-muted">{{commentCount}} comments</small>
        </div>    
        <div class="h3 mx-auto my-auto">Comments</div>
            <div class="card-body">
            <blockquote class="blockquote mb-0">
                {{#each comments}}
                <p>{{this.comment}}</p>
                <footer class="blockquote-footer">Commented by <cite title="Source Title">{{this.user.userName}}</cite></footer>
                {{/each}}
            </blockquote>
        </div> 
    </div>

</div>  
</section>
<script src="/js/jquery.min.js"></script>
<script src="/js/delete-post.js"></script>


